div{
  margin-top: 1%;
}
h3{
  margin-left: 10%;
}
img{
  width: 200px;
  height: 200px;
  margin-left: 15%;
  border: 1px solid black;
}
.container{
  text-align: center;
}

.left{
  float: left;
  text-align: center;
}

.right{
  float: right;
  width: 90%;
}
